Workflows/Solicitudderequerimiento-3105AE1D-BB33-EE11-BDF4-00224830EADD.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "invoker",
        "connection": {},
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_office365": {
        "runtimeSource": "invoker",
        "connection": {},
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "94c6a038-df55-4363-8025-9ca1e0edb5a9"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Datosfiltrados",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Escribir entrada",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Enviar_Ca",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Escribir entrada",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Obtener_elementos": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "77299f19-0f34-42ec-a52d-2c7339787766"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems"
            },
            "parameters": {
              "dataset": "https://museodeantioquia.sharepoint.com/sites/DocumentosdeOperaciones",
              "table": "1008b85a-6668-46d7-9845-2ac72f9f08c6",
              "$filter": "@triggerBody()['text']",
              "$top": 5000
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          },
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 5000
            }
          }
        },
        "Crear_tabla_HTML": {
          "runAfter": {
            "Obtener_elementos": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "40f49bbd-dec2-4b4c-93f0-0ac74d538428"
          },
          "type": "Table",
          "inputs": {
            "from": "@outputs('Obtener_elementos')?['body/value']",
            "format": "HTML",
            "columns": [
              {
                "header": "Elementos",
                "value": "@item()?['Title']"
              },
              {
                "header": "Fecha_Requerimiento",
                "value": "@item()?['FechadeOrdendeServicio']"
              },
              {
                "header": "Fecha_acordabadentrega",
                "value": "@item()?['Fechaacordadadeentrega']"
              },
              {
                "header": "Valor",
                "value": "@item()?['Valordelacompra']"
              },
              {
                "header": "Estado",
                "value": "@item()?['field_5/Value']"
              },
              {
                "header": "ID",
                "value": "@item()?['ID']"
              }
            ]
          }
        },
        "Enviar_correo_electrónico_(V2)": {
          "runAfter": {
            "Crear_tabla_HTML": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "73ad1ecd-5544-42da-9635-12cb8c46bf20"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2"
            },
            "parameters": {
              "emailMessage/To": "@triggerBody()['text_1']",
              "emailMessage/Subject": "Tu solicitud de Requemientos",
              "emailMessage/Body": "<style>\ntable {\n  border: 1px solid #1C6EA4;\n  background-color: #EEEEEE;\n  width: 100%;\n  text-align: left;\n  border-collapse: collapse;\n}\ntable td, table th {\n  border: 1px solid #AAAAAA;\n  padding: 3px 2px;\n}\ntable tbody td {\n  font-size: 13px;\n}\ntable thead {\n  background: #1C6EA4;\n  border-bottom: 2px solid #444444;\n}\ntable thead th {\n  font-size: 15px;\n  font-weight: bold;\n  color: #FFFFFF;\n  border-left: 2px solid #D0E4F5;\n}\ntable thead th:first-child {\n  border-left: none;\n}\n</style>\n\n\n\n<p>@{body('Crear_tabla_HTML')}</p>",
              "emailMessage/Importance": "Normal"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}